.banner__container
  position: absolute
  top: 150px
  .banner
    gap: 25px
    display: flex
    align-items: center
    background-color: rgba(241, 246, 253, 1)
    position: relative
    right: 7px
    height: 147px
    width: 342px
    border-radius: 8px
    box-shadow: 0px 0px 1px 0px rgba(23, 26, 31, 0.15)
    box-shadow: 0px 0px 2px 0px rgba(23, 26, 31, 0.2)
    box-shadow: 100px

    div
      cursor: context-menu
      display: flex
      flex-flow: column
      gap: 40px
      .description
        font-weight: 700
        line-height: 22px
        text-align: start
        font-family: 'Arimo'
        color: rgba(23, 26, 31, 1)
        width: 153px
      .aButton
        font-family: 'DM Sans'
        line-height: 18px
        font-weight: 400
        font-size: 11px
        width: 109px
        height: 28px
        border: 1px solid rgba(23, 26, 31, 1)
        color: rgba(23, 26, 31, 1)
        border-radius: 8px
        display: flex
        align-items: center
        justify-content: center
        cursor: pointer

    .bannerSVG
      position: relative
      top: 10px

  .indicator
    display: flex
    position: relative
    justify-content: center
    top: 10px
    gap: 5px

  .dot
    width: 6px
    height: 6px
    border-radius: 3px
    background-color: rgba(222, 225, 230, 1)

  .dot--active
    background-color: rgba(30, 100, 221, 1)
    width: 22px
    height: 6px
    border-radius: 3px
