.history__container
  position: absolute
  top: 390px
  padding: 30px

  .history
    position: relative
    list-style: none

    ul
      list-style: none
      height: 259px
      overflow-y: auto
      width: 350px

      li
        display: flex
        justify-content: space-between
        width: 323px
        height: 68px
        stroke-width: 1px
        border-bottom: 1px solid #F3F4F6
        padding: 10px 0
        margin: 10px 0

      .info
        display: flex
        flex-flow: column
        align-items: flex-start
        justify-content: center

      .details
        color: #9095A0
        font-family: "DM Sans"
        font-size: 14px
        font-style: normal
        font-weight: 400
        line-height: 22px
        display: flex
        justify-content: flex-start
        gap: 5px

      .change
        text-align: right
        font-family: "DM Sans"
        font-size: 16px
        font-style: normal
        font-weight: 500
        line-height: 26px

      .positiveChange
        color: #17A948

      .negativeChange
        color: #DE3B40

    &__title
      display: flex
      align-items: center
      justify-content: space-between
      width: 330px

      h2
        font-family: Arimo
        font-weight: 700
        font-size: 20px
        line-height: 30px
        color: rgba(23, 26, 31, 1)
      span
        width: 70px
        height: 36px
        font-family: 'DM Sans'
        font-weight: 400
        font-size: 14px
        line-height: 40px
        color: rgba(144, 149, 160, 1)
        cursor: pointer
        &:hover
          text-decoration: underline

    .item
      display: flex
      align-items: center
      border-bottom: 1px solid #d3d3d3
      padding: 0.5rem
      margin-bottom: 0.5rem

    .icon
      font-size: 1.5rem
      margin-right: 1rem

    .name
      color: #323842
      font-family: Arimo
      font-size: 16px
      font-style: normal
      font-weight: 400
      line-height: 26px
      width: fit-content

    .section
      font-size: 0.8rem
      color: gray
      margin-left: 0.5rem

    .date
      font-size: 0.8rem
      color: gray
      margin-left: auto

    .amount
      font-size: 1rem
      font-weight: bold
      color: green

    .amount
      &.negative
        color: red

    .amount::before
      content: attr(data-amount-symbol)
      margin-right: 0.5rem

    .see-all
      font-size: 0.8rem
      color: gray
      float: right
      margin-top: 1rem
