.navbar
  display: flex
  justify-content: space-between
  padding: 0.5rem
  border-top: 1px solid gray-light

  .nav-item
    display: flex
    align-items: center
    text-align: center
    flex-grow: 1
    cursor: pointer
    color: gray

  .nav-item
    &.active
      color: blue
      border-bottom: 2px solid blue

  .nav-item
      &.disabled
        cursor: default
        opacity: 0.5

  .icon
    font-size: 1.5rem
    margin-bottom: 0.5rem

  .label
    font-size: 0.8rem
