.notificationProfile
  width: fit-content
  display: flex
  position: absolute
  align-self: flex-end
  gap: 20px
  top: 30px
  padding: 30px

  .bell, figure
    cursor: pointer

  .profile
    margin: 0
    img
      max-width: 28px
      width: fit-content
      border-radius: 100%
